@model emps.Models.Employee

@{
    ViewBag.Title = "EditEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Employee</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Employee</legend>
        @Html.HiddenFor(model => model.Id)
        <p>
            Name:<br />
            @Html.EditorFor(model => model.Name)
        </p>
        <p>
            Position:<br />
            @Html.DropDownListFor(model => model.PositionId, ViewBag.positions as SelectList)
        </p>
        <input type="submit" value="Create Employee" />
    </fieldset>
}
